@import './base.css';


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  justify-items: center;
  place-content: center;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}